@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.custom-shape-divider-top-1689422230 {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1689422230 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 46px;
}

.custom-shape-divider-top-1689422230 .shape-fill {
  fill: #181D3D;
}

.custom-shape-divider-bottom-1689439397 {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1689439397 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 49px;
}

.custom-shape-divider-bottom-1689439397 .shape-fill {
  fill: #181D3D;
}

.custom-shape-divider-top-1689445558 {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1689445558 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 49px;
}

.custom-shape-divider-top-1689445558 .shape-fill {
  fill: #181D3D;
}


.custom-shape-divider-top-yellow {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-yellow svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 46px;
}

.custom-shape-divider-top-yellow .shape-fill {
  fill: #FDBF45;
}

.custom-shape-divider-bottom-1690065140 {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1690065140 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 40px;
}

.custom-shape-divider-bottom-1690065140 .shape-fill {
  fill: #FFFFFF;
}

.custom-shape-divider-top-1690065140 {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  
}

.custom-shape-divider-top-1690065140 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 40px;
}

.custom-shape-divider-top-1690065140 .shape-fill {
  fill: #FFFFFF;
}

.custom-shape-divider-bottom-1690080106 {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1690080106 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 43px;
}

.custom-shape-divider-bottom-1690080106 .shape-fill {
  fill: #FDBF45;
}
